{% extends 'base.html.twig' %}

{% block title %}Hello JokePremiumController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello From your Premium Account !</h1>
		<div>
			<h3>The Joke of the day :</h3>
			{# {{ content.id}} #}
			{# <img src="{{ asset ('assets/img/blague.png')}}" alt="JokePremium"> #}
		</div>
	</div>
{% endblock %}
